/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--window-bg-dark);
  color: var(--text-light);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.task-container-title {
  margin: 0;
  margin-bottom: 20px
}
