/* _inputs.css */
.input-group {
  display: flex;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  margin-bottom: 20px; 
  border: 2px solid transparent; /* For selection later on */
  transition: border-color 0.2s;
}

.input-field:focus-within {
  border-color: var(--primary-color) !important;
}

.input-group div {
  padding: 14px;
}

.input-group input {
  flex: 1;
  border: none;
  padding: 14px 14px 14px 0px;
  font-size: 16px;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--text-light);
}

/* Styling the riot input component to handle full-widths */
input-field {
  width: auto;
}

/* Fixing the auto styling of the browser */
input:-webkit-autofill, input:autofill {
  background-color: var(--bg-light) !important;
  color: var(--text-light) !important;
  -webkit-text-fill-color: var(--text-light) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* The show password button */
::-ms-reveal {
  filter: invert(100%);
}