<app-button>
  <button class={props.class} type={props.type} id={props.id}>
    <slot />
  </button>

  <script>
  export default {
    props: {
      class: "secondary",
      type: "button",
      id: "",
    },
    onMounted() {
      // Strip props from the root element (if necessary)
      Object.keys(this.props).forEach(attr => {
        this.root.removeAttribute(attr);
      });
    }
  };
  </script>
</app-button>